/* ShoeCard.module.css */

#selling {
  max-height: 100%;
  border-radius: 20px;
  margin-left: 50px;
  width: 50%;
}

#details-container {
  background: rgb(11, 16, 52);
  background: linear-gradient(
    90deg,
    rgba(11, 16, 52, 0.8687850140056023) 0%,
    rgba(255, 0, 0, 0.5998774509803921) 100%
  );
  padding: 10px 10px;
  min-height: 350px;
  transition: transform 0.8s;
  opacity: 0.8;
}

.shopping-basket {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  height: min-content;
  padding: 10px;
  width: 80px;
}

article {
  font-size: 14px;
  margin-bottom: 20px;
}

#selling-text {
  color: white;
  font-weight: 500;
}

.buy-now-anchor {
  color: white;
  background-color: red;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  font-weight: bold;

  border: none;
}

.buy-now-anchor:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.price-effect {
  font-family: sans-serif;
  background: #ffb76b;
  background: linear-gradient(
    to right,
    #ffb76b 0%,
    #ffa73d 22%,
    #ff7c00 44%,
    #ff7f04 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  transition: transform 0.6s;
  font-size: 32pt;
  padding-right: 55px;
}

.shoe-description {
  color: #eee;
  font-weight: 650;
}

.img-description {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 30px;
  padding-bottom: 25px;
}

.icon {
  font-size: 1.4em; /* Adjust the font size as needed */
}

/* ShoeDetails.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.image {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff5722;
  color: white;
  border: none;
  cursor: pointer;
}
